on:
  workflow_dispatch:
    inputs:
      name:
        description: 'List JDK uris at https://jdk.java.net/{NAME}/'
        required: false
        type: string

jobs:
  list:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: $JAVA_HOME_21_X64/bin/java --show-version src/ListOpenJavaDevelopmentKits.java ${{ github.event.inputs.name }}
