on:
  schedule:
    - cron: '23 */2 * * *'
  workflow_dispatch:

jobs:
  update-jdk-uri-properties:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - run: curl --output /dev/null --verbose --head --fail https://jdk.java.net
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: $JAVA_HOME_21_X64/bin/java src/ListOpenJavaDevelopmentKits.java > jdk.java.net-uri.properties
      - run: |
          git diff
          git config user.name github_actions_dev
          git config user.email github_actions_dev_grp@oracle.com
          git add .
          if [ -z "$(git status --porcelain)" ]; then
            echo 'No changes detected.'
            exit 0
          fi
          git commit --message 'Update `jdk.java.net-uri.properties`'
          git push
