on:
  workflow_dispatch:
    inputs:
      website:
        description: 'Site to download JDK from'
        default: 'oracle.com'
        required: true
        type: choice
        options:
          - 'oracle.com'
          - 'jdk.java.net'
      release:
        description: 'Release number or project name'
        default: '21'
        required: true
        type: string
      version:
        description: 'Version'
        default: 'latest'
        required: true
        type: string
      install:
        description: 'Run actions/setup-java to install the downloaded JDK'
        default: true
        required: true
        type: boolean

jobs:
  test:
    name: "JDK ${{ github.event.inputs.release }} (${{ github.event.inputs.version }}) on ${{ matrix.os }}"
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os: [ ubuntu-latest, macos-latest, macos-14, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: 'Check out repository'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: 'Set up JDK'
        id: setup
        uses: ./
        with:
          website: ${{ github.event.inputs.website }}
          release: ${{ github.event.inputs.release }}
          version: ${{ github.event.inputs.version }}
          install: ${{ github.event.inputs.install }}
      - name: 'Print outputs'
        shell: bash
        run: |
          echo 'Outputs'
          echo "steps.setup.outputs.archive = ${{ steps.setup.outputs.archive }}"
          echo "steps.setup.outputs.version = ${{ steps.setup.outputs.version }}"
      - name: 'Print Java version'
        run: java -version
