on:
  workflow_call:
  workflow_dispatch:

jobs:
  archive:
    name: "Archived JDK ${{ matrix.version }} on ${{ matrix.os }}"
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os: [ ubuntu-latest , macos-latest, windows-latest ]
        release: [ 17 ]
        version: [ 17, 17.0.1, 17.0.2, 17.0.3, 17.0.3.1, 17.0.4, 17.0.4.1, 17.0.5, 17.0.6, 17.0.7, 17.0.8 ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: 'Check out repository'
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: 'Set up JDK'
        id: setup
        uses: ./
        with:
          website: oracle.com
          release: ${{ matrix.release }}
          version: ${{ matrix.version }}
      - name: 'Print outputs'
        shell: bash
        run: |
          echo 'Outputs'
          echo "steps.setup.outputs.archive = ${{ steps.setup.outputs.archive }}"
          echo "steps.setup.outputs.version = ${{ steps.setup.outputs.version }}"
      - name: 'Print Java version'
        run: java --version
