on:
  workflow_dispatch:

jobs:
  releases:
    name: "JDK ${{ matrix.release }} on ${{ matrix.os }}"
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        release: [ 20, 19, 18, 17 ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: 'Check out repository'
        uses: actions/checkout@v2
      - name: 'Set up JDK'
        id: setup
        uses: ./
        with:
          website: jdk.java.net
          release: ${{ matrix.release }}
      - name: 'Print outputs'
        shell: bash
        run: |
          echo 'Outputs'
          echo "steps.setup.outputs.archive = ${{ steps.setup.outputs.archive }}"
          echo "steps.setup.outputs.version = ${{ steps.setup.outputs.version }}"
      - name: 'Print Java version'
        run: java -version

  projects:
    name: "Project ${{ matrix.project }} on ${{ matrix.os }}"
    needs: [ releases ]
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        project: [ jextract, loom, panama, valhalla ]
        exclude:
          - { os: macos-latest, project: valhalla } # missing 'libjli.dylib'
    runs-on: ${{ matrix.os }}
    steps:
      - name: 'Check out repository'
        uses: actions/checkout@v2
      - name: 'Set up JDK'
        id: setup
        uses: ./
        with:
          website: jdk.java.net
          release: ${{ matrix.project }}
      - name: 'Print outputs'
        shell: bash
        run: |
          echo 'Outputs'
          echo "steps.setup.outputs.archive = ${{ steps.setup.outputs.archive }}"
          echo "steps.setup.outputs.version = ${{ steps.setup.outputs.version }}"
      - name: 'Print Java version'
        run: java -version
