on:
  workflow_dispatch:

jobs:
  test:
    name: "${{ github.event.inputs.os }} with default JDK"
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os: [ ubuntu-latest, ubuntu-18.04, macos-latest, macos-10.15, windows-latest, windows-2022, windows-2016 ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: 'Check out repository'
        uses: actions/checkout@v2
      - name: 'Set up default JDK'
        id: setup
        uses: ./
      - name: 'Print outputs'
        shell: bash
        run: |
          echo 'Outputs'
          echo "steps.setup.outputs.archive = ${{ steps.setup.outputs.archive }}"
          echo "steps.setup.outputs.version = ${{ steps.setup.outputs.version }}"
      - name: 'Print Java version'
        run: java -version
