on:
  workflow_dispatch:

jobs:
  test:
    name: "Test ${{ matrix.os }} with default JDK"
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        # https://docs.github.com/en/actions/using-jobs/choosing-the-runner-for-a-job#choosing-github-hosted-runners
        os: [ ubuntu-latest, ubuntu-24.04, macos-latest, macos-15, macos-14, macos-13, windows-latest, windows-2025, windows-2022, windows-2019 ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: 'Check out repository'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: 'Set up default JDK'
        id: setup
        uses: ./
      - name: 'Print outputs'
        shell: bash
        run: |
          echo 'Outputs'
          echo "steps.setup.outputs.archive = ${{ steps.setup.outputs.archive }}"
          echo "steps.setup.outputs.version = ${{ steps.setup.outputs.version }}"
      - name: 'Print Java version'
        run: java -version
