on:
  push:
    branches: [ main, 'v*' ]
  pull_request:
    branches: [ '*' ]
  workflow_dispatch:

jobs:
  test:
    name: "Test Download"
    runs-on: ubuntu-latest
    steps:
      - name: 'Check out repository'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: 'Compile and run test'
        shell: bash
        run: |
          PATH=$JAVA_HOME_21_X64/bin:$PATH
          javac -d classes src/Download.java test/Test.java
          java -cp classes Test
  validate:
    name: "Validate Values"
    runs-on: ubuntu-latest
    steps:
      - name: 'Check out repository'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: 'Run validation program'
        shell: bash
        run: |
          PATH=$JAVA_HOME_21_X64/bin:$PATH
          java test/Validate.java
